<ul>
   <li class="myLink"><a href="/"><img src="/images/normal.png" alt="" width="150px"></a></li>
   <li class="myLink"><a href="#"><span class="">Home</span></a></li>
   <li class="myLink">|</li>
   <li class="myLink"><a href="#"><span class="">About Us</span></a></li>
   <li class="myLink">|</li>
   <li class="myLink"><a href="#"><span class="">Tutorials</span></a></li>
   <li class="myLink">|</li>
   <li class="myLink"><a href="#"><span class="">Contact</span></a></li>
   <li class="myLink">|</li>
   <li class="myLink"><a href="#"><span class="">Links</span></a></li>
</ul>
<hr>
