ul {
	list-style-type: none;
}
li.myLink {
	display: inline;
	margin-right: 15px;
}
a {
	text-decoration: none;
	color: black;
   font-weight: bold;
	font-size: 1.5rem;
}

a:link, a:visited{
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
