{{#section 'head'}}
    <!-- stuff that goes in head only for that file: -->
    {{!-- <link rel="stylesheet" href="/css/index.css" type="text/css"> --}}
{{/section}}

<h1>Willkommen auf {{ c4h }}</h1>

